version: '3.8'

services:
  jenkinsfile-runner:
    build:
      context: jenkins
    volumes:
      - ./jenkins/pipelines/example/Jenkinsfile:/workspace/Jenkinsfile:ro
      # ro: 読み取り専用としてマウントするオプション
    stdin_open: true
    tty: true