services:
  act:
    build:
      context: actions  # Dockerfileの場所（カレントディレクトリ）
    image: act-docker
    container_name: act-container
    volumes:
      - ./.github/workflows:/workspace/.github/workflows  # ローカルディレクトリをコンテナ内にマウント
      - ./python_project/src:/workspace/src  # Pythonソース
      - ./python_project/tests:/workspace/tests  # testsソース
      - ./python_project/requirements.txt:/workspace/requirements.txt  # testsソース
      - ./actions/artifacts:/workspace/artifacts  # testsソース
      - ./actions/.secrets:/workspace/.secrets  # testsソース
      - /var/run/docker.sock:/var/run/docker.sock  # Dockerデーモンをコンテナ内で利用可能に
    environment:
      - GITHUB_TOKEN=${GITHUB_TOKEN}  # 環境変数でGitHubトークンを渡す
    working_dir: /workspace
    stdin_open: true  # 対話型セッションを有効化
    tty: true         # ターミナルをサポート