name: Secure Check

on:
  workflow_dispatch:
  pull_request:
    branches:
      - release-*
    paths:
      - 'src/**'
      - 'requirements.txt'
      - 'requirements-dev.txt'

jobs:
  python-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        id: installDependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Check Initernal Security Vulnerabilities
        run: |
          pip-audit