name: Create Artifact Branch
on:
  workflow_dispatch:

jobs:
  create-artfacts:
    runs-on: ubuntu-latest

    steps:
      # 1. リポジトリをチェックアウト
      - name: Checkout source code
        uses: actions/checkout@v3

      # 2. 成果物を生成
      - name: Build artifacts
        run: |
          mkdir dist
          echo "This is a sample artifact" > dist/README.md
          ls

      # 3. オリファンブランチを作成
      - name: Create orphan branch
        run: |
          ls
          orphan=$(git branch -a|grep "remotes/origin/artifacts")
          if [-z "$orphan" ];then
            echo "Not Exists branch"
            # 存在しない場合はブランチを作成する
            # git checkout --orphan artifacts
            # git rm -rf
          else
            echo "Exists branch"
            git checkout artifacts
          fi
      #     # 成果物をコピー
      #     cp -r dist/* .
      #   # 成果物をプッシュ
      # - name: Push artifacts
      #   run: |
      #     # コミットしてプッシュ
      #     git add README.md
      #     git commit -m "Upload artifacts to orphan branch"
      #     git push -f origin artifacts
