name: Python Test

on:
  push:
    branches:
      - main
jobs:
  python-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        id: installDependencies
        run: |
          pip install -r /github/workspace/requirements.txt

      - name: Run Python Test
        id: runPyTest
        run: |
          pytest --junitxml=pytest.xml --cov-report term-missing --cov=src tests/ | tee pytest-coverage.txt

      - name: Coverage Report
        id: runPyTest
        run: |
          coverage-badge -o coverage.svg
          python - <<EOF
          from src.lib.generate_coverage import GenerateCoverage
          generate_coverage = GenerateCoverage("tests/pytest-coverage.txt", "tests/table.md")
          generate_coverage.save_table()
          EOF

      - name: Update Readme
        id: updateReadme
        run: |
          echo "# Pytest Report" > /github/workspace/Readme.md
          echo "![test](coverage.svg)" >> /github/workspace/Readme.md
          cat tests/table.md >> /github/workspace/Readme.md
          cat /github/workspace/Readme.md

      # - name: Update Readme for Coverage Report
      #   run: |
      #     echo -e ${{ steps.coverageComment.outputs.summaryReport }} >> ./Readme.md
      # /github/workspace/my_output.txt
